<section style="color: whitesmoke;" class="section section-padding  bg-color-ship-gray" id="recent-projects">
    <div class="container">
        <div class="section-heading heading-left">
            <h2 style="color: white;" class="title wow fadeInUp">Recent Projects</h2>
        </div>
        <div class="row">
            <div class="col   wow fadeInUp">
                <strong>Social Media Marketing & Digital Transformation for the Gubernatorial Race</strong>
                <p> We employed data-driven social media strategies and digital tools to elevate the reach and impact of a political campaign, thus promoting citizen engagement. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Custom Laboratory Information System (LIS) as SaaS </strong>
                <p> Our custom LIS software, designed based on client requirements, is offered as a SaaS model to increase affordability and accessibility in healthcare settings. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Automated Testing Utilizing Playwright </strong>
                <p> We implemented a Playwright-based testing framework to improve the reliability and efficiency of software quality assurance processes. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Cloud-Based Transformation to Streamline Retail Operations </strong>
                <p> We integrated cloud-based solutions to enhance operational workflows in retail, aiming for improved efficiency and customer satisfaction. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Point of Sale (POS) Transformation </strong>
                <p> We modernized Point of Sale systems to improve both operational efficiency and the customer experience at the retail level. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Sustainable Transformation Leveraging Microsoft Cloud Technology </strong>
                <p> We used Microsoft Cloud technologies to help businesses operate with increased sustainability and financial viability. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Process Optimization and Data Analytics </strong>
                <p> We applied data analytics to optimize processes, aiming to improve operational efficiency and uncover new business opportunities. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> SignIn/SignUp Angular Upgrade and Enhancement </strong>
                <p> Technology Stack: Angular, NodeJS, Kubernetes, Docker, APIGEE, AWS Lambda, Java Springboot, Azure Active Directory, MongoDB. We improved user interface and security features
                    through a broad range of technologies. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> API Certification Strategy </strong>
                <p> We established a rigorous 88-item checklist to ensure API security, aligning with industry best practices for secure data exchange. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Architectural Roadmap Based on the Five Pillars of a Well-Architected System </strong>
                <p> Our architectural roadmaps are constructed around industry-recognized principles for robust and efficient system design. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Sun Solaris to Linux Migration </strong>
                <p> We facilitated the transition from Sun Solaris to Linux, aiming for improved system agility and stability. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Self-Service Insurance Portal for Merged Entities </strong>
                <p> Technology Stack: Azure Active Directory, Azure WebApp (Angular), APIGEE, GraphQL, Azure WebAPI, etc. We streamlined insurance processes by creating a unified self-service portal
                    for merged companies. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Integration of Various Tools into Corporate Infrastructure </strong>
                <p> We integrated a suite of enterprise tools, such as Veeva, MATLAB, Tableau, etc., with Okta and OpenID to improve interoperability within corporate settings. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Asset Tracking System </strong>
                <p> Technology Stack: Azure Active Directory, Azure WebApp (Angular), Azure APIApp (Java Springboot), etc. We developed a robust and scalable asset tracking system. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> DDoS and TDOS Defense Managed Security Service Architecture </strong>
                <p> We designed a Managed Security Service that employs Arbor APS Cloud Signaling and Radware to provide comprehensive DDoS and TDOS defense. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> New Business Line for MACD NBFW Changes </strong>
                <p> Technology Stack: Palo Alto, Fortinet, Cisco ASA (w/FirePower), etc. An initiative in network firewall changes resulted in significant additional revenue. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> Managed Security Services Cloud Migration Architecture </strong>
                <p> Technology Stack: NodeJS, Experss, APIGEE, Azure Web API, etc. We architected the migration strategy that accentuates security, reliability, and operational fluency. </p>
            </div>
        </div>
        <div class="row">
            <div class="col wow fadeInUp">
                <strong> REST Governance </strong>
                <p> We provide governance for REST APIs to ensure they are secure, scalable, and functional, aligning with industry standards for API management. </p>
            </div>
        </div>
    </div>
</section>