<a href="/blog/nov-2022/azure-in-reflection#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'November 2022'"></app-bread-crumb-light>
    <section class="section-padding-equal">
        <div class="container">
            <div class="row row-40">
                <div class="col-lg-8">

                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/azure-in-reflection">Azure in Reflection</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 28, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/azure-in-reflection"><img src="assets/images/blog/azure-in-reflection.webp"
                                    alt="Azure in Reflection"></a>
                        </div>
                        <p>    
                            The longer I am away from Azure, the harder it is for me to remember all the components I used to work with. Thus I am creating this post as a cheat sheet. A brain dump that can be useful to future me and any architects who want a quick understandting of some of the Azure products.
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/azure-in-reflection" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/application-architecture">Application Architecture</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 27, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/application-architecture"><img src="assets/images/blog/application-architecture.webp"
                                    alt="Application Architecture"></a>
                        </div>
                        <p>    
                            Application architecture is a key deliverable of a project. This post provides architects, application designers, and developers with the following:
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/application-architecture" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/software-design-guide">Software Design Guide</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 26, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/software-design-guide"><img src="assets/images/blog/software-design-guide.webp"
                                    alt="Software Design Guide"></a>
                        </div>
                        <p>    
                            The following is an attempt to put together a complete yet reasonably flexible set of guidles for the specification of software design. Wherever possible, I have provided guidelines (instead of prescribing requirements) for the contents of various sections and subsections of the document. Some may prefer to require more detailed subsections of a particular area, choosing one or more of the subsection topics from the list of guidelines provided. This post is a template for a template.
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/software-design-guide" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>

<!---->
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/virtual-networks-why-bother">Virtual Networks - Why bother?</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 25, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/virtual-networks-why-bother"><img src="assets/images/blog/virtual-networks-why-bother.webp"
                                    alt="Virtual Networks - Why bother?"></a>
                        </div>
                        <p>    
                            A virtual network is a virtual link between two computers. A virtual network can be used to connect two or more computers, or it can be used to connect two or more networks that are on different subnets. The latter is often called a "virtual LAN."
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/virtual-networks-why-bother" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/software-as-a-service-has-come-a-long-way">Software as a Service has come a long way</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 24, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/software-as-a-service-has-come-a-long-way"><img src="assets/images/blog/software-as-a-service-has-come-a-long-way.webp"
                                    alt="Software as a Service has come a long way"></a>
                        </div>
                        <p>    
                            For a long time, Software as a Service (SaaS) was considered a joke. Early attempts at SaaS were clumsy and unreliable, but that's changed in recent years. Today's SaaS applications offer robust, cloud-based Software for a monthly fee, which can be surprisingly affordable.
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/software-as-a-service-has-come-a-long-way" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/api-design-best-practices">API Design Best Practices</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 23, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/api-design-best-practices"><img src="assets/images/blog/api-design-best-practices.webp"
                                    alt="API Design Best Practices"></a>
                        </div>
                        <p>    
                            If you're not an API developer, this might seem like a boring subject to read about. But it's essential. Your API is how other people interact with your product or service, so it must be well-designed and easy to use. In this post, we'll look at some best practices for writing APIs in Python and Django in particular, but they can apply to any language or framework.
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/api-design-best-practices" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/gcp-cloud-architecture">GCP Cloud Architecture - I Love it!</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 22, 2022</li>
                                    <li>8 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/gcp-cloud-architecture"><img src="assets/images/blog/gcp-cloud-architecture.webp"
                                    alt="GCP Cloud Architecture - I Love it!"></a>
                        </div>
                        <p>    
                            Cloud architecture is something that's becoming more and more important. Companies are moving to the cloud because it enables faster growth, but ensuring your company is using the best cloud provider for their needs can take time and effort. That's why I love Google Cloud Platform so much: it's simple, robust, and easy to start with—and there are many different things you can do with them!
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/gcp-cloud-architecture" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/architectural-design-patterns">Architectural Design Patterns</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 21, 2022</li>
                                    <li>10 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/architectural-design-patterns"><img src="assets/images/blog/architectural-design-patterns.webp"
                                    alt="Architectural Design Patterns"></a>
                        </div>
                        <p>    
                            The ongoing challenge of operating more efficiently and doing more with fewer forces companies and organizations to streamline and improve their business processes. But these improvements require investments that must yield reduced costs and improved responsiveness quickly and with minimal risk. The demand for lower operating costs and faster return on investment is provoking a shift in focus from isolated tasks and functions to the importance of integrated business processes and flows. 
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/architectural-design-patterns" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>


<!-- -->
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/portals-white-paper">Portals - White Paper</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 18, 2022</li>
                                    <li>12 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/portals-white-paper"><img src="assets/images/blog/portals-white-paper.webp"
                                    alt="Portals - White Paper"></a>
                        </div>
                        <p>    
                            The ongoing challenge of operating more efficiently and doing more with fewer forces companies and organizations to streamline and improve their business processes. But these improvements require investments that must yield reduced costs and improved responsiveness quickly and with minimal risk. The demand for lower operating costs and faster return on investment is provoking a shift in focus from isolated tasks and functions to the importance of integrated business processes and flows. 
                            
                                              </p>
                        <a routerLink="/blog/nov-2022/portals-white-paper" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/security-vulnerability-remediation-white-paper">Security Vulnerability Remediation - White Paper</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 17, 2022</li>
                                    <li>20 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/security-vulnerability-remediation-white-paper"><img src="assets/images/blog/security-vulnerability-remediation-white-paper.webp"
                                    alt="Security Vulnerability Remediation - White Paper"></a>
                        </div>
                        <p>    
                            This white paper provides security teams with the information they need to build or enhance an effective, agile vulnerability management program that maximizes their resources.
                        </p>
                        <a routerLink="/blog/nov-2022/security-vulnerability-remediation-white-paper" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/passwordless-white-paper">Passwordless - White Paper</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 15 2022</li>
                                    <li>16 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/passwordless-white-paper"><img src="assets/images/blog/passwordless-white-paper.webp"
                                    alt="Passwordless - White Paper"></a>
                        </div>
                        <p>    
                            The passwordless white paper is an easy-to-read guide that breaks down the benefits of using just your email address to sign in. It explains how this method can reduce
                                the number of steps for a user to authenticate. Email address-only sign-in is a new way to authenticate users. With email address-only sign-in, you can use any identity
                                provider that allows users to sign in with an email address. By removing passwords and credential management from your application, you can improve the usability and
                                security of your application.                       </p>
                        <a routerLink="/blog/nov-2022/passwordless-white-paper" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/artificial-intelligence-vs-machine-learning">Artificial Intelligence vs Machine learning</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 14, 2022</li>
                                    <li>8 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/artificial-intelligence-vs-machine-learning"><img src="assets/images/blog/artificial-intelligence-vs-machine-learning.webp"
                                    alt="Artificial Intelligence vs Machine learning"></a>
                        </div>
                        <p>    
                            If you're reading this article, you have a basic understanding of what artificial intelligence (AI) and machine learning are. But there's still some confusion between
                            these two terms—so let's clear that up!                       </p>
                        <a routerLink="/blog/nov-2022/artificial-intelligence-vs-machine-learning" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/a-simple-solution-to-increasing-sales-if-you-already-have-sales">A simple solution to increasing sales - if you already have sales</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 11, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/a-simple-solution-to-increasing-sales-if-you-already-have-sales"><img src="assets/images/blog/a-simple-solution-to-increasing-sales-if-you-already-have-sales.webp"
                                    alt="A simple solution to increasing sales - if you already have sales"></a>
                        </div>
                        <p>    
                            Anyone who has run a business knows that getting someone to place an order with you takes work. You spend hours crafting the perfect webpage, and you put in all the
                                effort necessary to develop a stellar product or service - but if people can't find your contact information, then chances are they'll go elsewhere. People want to talk
                                to people, not websites.                      </p>
                        <a routerLink="/blog/nov-2022/a-simple-solution-to-increasing-sales-if-you-already-have-sales" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/most-companies-have-poor-it-security">Most Companies Have Poor IT Security</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 9, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/most-companies-have-poor-it-security"><img src="assets/images/blog/most-companies-have-poor-it-security.webp"
                                    alt="Most Companies Have Poor IT Security"></a>
                        </div>
                        <p>    
                            Hacking is a huge problem, but it's not something most people think about. The truth is that hacking into most companies and websites is easy- they're not hacked
                                because they have good security.                       </p>
                        <a routerLink="/blog/nov-2022/most-companies-have-poor-it-security" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>

<!---->
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/e-commerce-architecture-best-practices">e-Commerce Architecture Best Practices</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 4, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/e-commerce-architecture-best-practices"><img src="assets/images/blog/e-commerce-architecture-best-practices.webp"
                                    alt="e-Commerce Architecture Best Practices"></a>
                        </div>
                        <p>    
                            The <a routerLink="/e-commerce-architecture">e-commerce</a> industry is booming, and so is the number of websites being launched every day. With increasing competition in this marketplace, it has become essential
                            for <a routerLink="/e-commerce-architecture">e-commerce</a> businesses to offer the best possible user experience to their customers. This can only be achieved if you have a well-designed architecture for your
                            website. This article will discuss some of the best practices that can help you build an efficient architecture from scratch that will make your online store faster,
                            more secure, and more stable.                        </p>
                        <a routerLink="/blog/nov-2022/e-commerce-architecture-best-practices" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>



                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/modern-e-commerce-architecture">Modern e-Commerce Architecture</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 3, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/modern-e-commerce-architecture"><img src="assets/images/blog/modern-e-commerce-architecture.webp"
                                    alt="modern e-Commerce architecture"></a>
                        </div>
                        <p>    
                            The world of e-Commerce is changing. Once upon a time, it was all about creating the next-best-selling product, but today's e-Commerce landscape is more complex. We're talking Digital Transformation and Customer Experience Engineering, which means making changes to your e-Commerce architecture. In this post, I'll explore how to build an innovative and modern e-Commerce architecture so you can stay ahead of the competition.
                        </p>
                        <a routerLink="/blog/nov-2022/modern-e-commerce-architecture" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>

                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/best-practices-for-network-systems">Best Practices for Network Systems</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 2, 2022</li>
                                    <li>10 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/best-practices-for-network-systems"><img src="assets/images/blog/best-practices-for-network-systems.webp"
                                    alt="Best Practices for Network Systems"></a>
                        </div>
                        <p>    
                            Network systems are critical to the success of any company. But as necessary as they are, they're often overlooked by companies that need help figuring out what they need or can't afford top-of-the-line solutions. In this article, I'll discuss how to build an efficient and secure network system, even if you spend a limited amount of money on it.
                        </p>
                        <a routerLink="/blog/nov-2022/best-practices-for-network-systems" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/nov-2022/security-vulnerability-management-white-paper">Security Vulnerability Management White Paper</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Nov 1, 2022</li>
                                    <li>15 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/nov-2022/security-vulnerability-management-white-paper"><img src="assets/images/blog/security-vulnerability-management-white-paper.webp"
                                    alt="Security Vulnerability Management White Paper"></a>
                        </div>
                        <p>     Vulnerability management is a task that involves finding, ranking, and patching vulnerabilities in your software. It should be done regularly, preferably by the software development team itself.
                        </p>
                        <a routerLink="/blog/nov-2022/security-vulnerability-management-white-paper" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <!---->

                </div>
                <div class="col-lg-4">
                    <app-posts-history></app-posts-history>
                </div>

            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>