<a href="/blog/nov-2023/#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="''"></app-bread-crumb-light>
    <section class="section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="single-blog">
                        <div class="single-blog-content">
                            <div class="post-thumbnail">
                                <img class="rounded img-fluid wow fadeInUp" src="/assets/images/blog/.webp"
                                    alt="Did You Know Most BI Tools Have a Feature for Automatic Data Cleansing?">
                            </div>
                            <div class="author">
                                <div class="author-thumb">
                                    <img class="img-thumbnail wow fadeInUp" src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                                </div>
                                <div class="info">
                                    <h6 class="author-name">Tyrone Showers</h6>
                                    <ul class="blog-meta list-unstyled">
                                        <li>November 17, 2023</li>
                                    </ul>
                                </div>
                            </div>

                            <app-tyrone-showers-bio></app-tyrone-showers-bio>
                            <div class="row wow fadeInUp">
                                <div class="col"><a href="/blog/nov-2023/" aria-label="Previous"><i class="fa fa-chevron-left"
                                            aria-hidden="true"></i> Previous</a>
                                </div>
                                <div class="col text-end"><a href="/blog/nov-2023/" aria-label="Next"> Next <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <app-posts-history></app-posts-history>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>