<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
<section class="section bg-color-white">
    <footer class="footer-area">
        <div class="container">
            <div class="footer-top">
                <div class="footer-social-link wow fadeInUp">
                    <ul class="list-unstyled">
                        <li><a href="https://www.tiktok.com/@taliferrogroup" target="_blank" aria-label="TikTok" title="TikTok"><img class="img-fluid" style="max-height: 64px;" src="assets/images/tiktok-app-icon.png"
                                    alt="TikTok"></a></li>
                        <li><a href="https://www.instagram.com/taliferrogroup/" target="_blank" aria-label="Instagram"><img class="img-fluid" style="max-height: 64px;" src="assets/images/ig-instagram-icon.png"
                                    alt="Instagram"></a></li>
                        <li><a href="https://flipboard.com/@taliferrogroup/taliferro-group-0vb37ucdz?from=share&utm_source=flipboard&utm_medium=share" target="_blank" aria-label="Flipboard" title="Flipboard"><img
                                    class="img-fluid" style="max-height: 64px;" src="assets/images/flipboard-icon.png" alt="Flipboard"></a></li>
                        <li><a href="https://www.linkedin.com/company/taliferro/" target="_blank" aria-label="LinkedIn" title="LinkedIn"><img class="img-fluid" style="max-height: 64px;"
                                    src="assets/images/linkedin-app-icon.png" alt="LinkedIn"></a></li>
                        <li><a href="https://twitter.com/TaliferroLLC" target="_blank" aria-label="X" title="X"><img class="img-fluid" style="max-height: 64px;" src="assets/images/x-social-media-logo-icon.png"
                                    alt="X"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCbSklLhEDs-4kld584LtdlQ" target="_blank" aria-label="YouTube" title="YouTube"><img class="img-fluid" style="max-height: 64px;"
                                    src="assets/images/youtube-app-icon.png" alt="YouTube"></a></li>
                        <li><a href="https://www.pinterest.com/tyshowers0160/" target="_blank" aria-label="Pinterest" title="Pinterest"><img class="img-fluid" style="max-height: 64px;"
                                    src="assets/images/pinterest-app-icon.png" alt="Pinterest"></a></li>
                        <!-- <li><a href="https://www.threads.net/@taliferrogroup" aria-label="Threads" title="Threads"><img class="img-fluid" style="max-height: 64px;"
                                    src="assets/images/threads-app-icon.png" alt="Threads"></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="footer-main">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 sal-animate wow slideInRight">
                        <div class="footer-widget border-end">
                            <div class="footer-newsletter">
                                <h2 class="title">Get in touch!</h2>
                                <p>We are more than simply a custom software company. We are your information transformation experts.</p>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a href="http://www.omwbe.wa.gov"><img src="assets/images/OMWBE-Certified-Badge.png" alt="OMWBE Certification Badge" class="img-fluid"
                                                    style="max-height: 125px;"></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="https://byblack.us/business/65037859408ff3b74f2c489b" class="img-fluid" title="Certified Black Owned">
                                                <img src="assets/files/byblack-badge.png" alt="ByBlack" style="max-height: 125px;"> </a>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="assets/media/blog/vikki-scrum-master-cert2.png" alt="Scrum Certification" class="img-fluid" style="max-height: 125px;">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="assets/media/blog/vikki-scrum-master-cert1.png" alt="Scrum Certification" class="img-fluid" style="max-height: 125px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 sal-animate wow slideInLeft">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="footer-widget">
                                    <div class="widget-title mb-4">Learn</div>
                                    <div class="footer-menu-link">
                                        <ul class="list-unstyled">
                                            <li><b style="color:black">Guides</b></li>
                                            <li><a routerLink="/blog/may-2023/the-crucial-elements-of-proper-web-design">Proper Web Design</a></li>
                                            <li><a routerLink="/blog/oct-2022/architectural-cheat-sheet">Architectural Cheat Sheet</a></li>
                                            <li><a routerLink="/blog/oct-2022/api-security-checklist">API Security Checklist</a></li>
                                            <li><a routerLink="/blog/oct-2022/using-the-lighthouse-google-developer-tool-to-measure-your-websites-performance">Lighthouse</a></li>
                                            <li><b style="color:black">White Papers</b></li>
                                            <li><a routerLink="/blog/nov-2022/security-vulnerability-management-white-paper">Security Vulnerability</a></li>
                                            <li><a routerLink="/blog/jun-2023/comparative-guide-epic-system-vs-taliferro-group-lis-unveiling-key-distinctions">LIS</a></li>
                                            <li><a routerLink="/blog/mar-2023/learning-platform-user-experience">LMS</a></li>
                                            <li><a routerLink="/blog/nov-2022/portals-white-paper">Portals</a></li>
                                            <li><a routerLink="/blog/feb-2023/hubspot-as-your-data-system-of-record">HubSpot</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="footer-widget">
                                    <div class="widget-title mb-4">Expertise</div>
                                    <div class="footer-menu-link">
                                        <ul class="list-unstyled">
                                            <li><a routerLink="/services/agile-coaching">Agile Coaching</a></li>
                                            <li><a routerLink="/services/api-design">API Design</a></li>
                                            <li><a routerLink="/services/apigee-integration">APIGEE</a></li>
                                            <li><a routerLink="/services/cloud-architecture">Architecture</a></li>
                                            <li><a routerLink="/services/data-design">Data Design</a></li>
                                            <li><a routerLink="/services/website-development">Website Development</a></li>
                                            <li><a routerLink="/services/e-commerce-architecture">e-Commerce</a> </li>
                                            <li><a routerLink="/services/healthcare-consulting">Healthcare</a> </li>
                                            <li><a routerLink="/services/machine-learning">Machine Learning</a></li>
                                            <li><a routerLink="/services/website-optimization">Optimization</a></li>
                                            <li><a routerLink="/services/social-media-marketing">Social Media Marketing</a></li>
                                            <li><a routerLink="/services/sustainability">Sustainability</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="footer-widget">
                                    <div class="widget-title mb-4">Support</div>
                                    <div class="footer-menu-link">
                                        <ul class="list-unstyled">
                                            <li><a routerLink="/refund-policy">Refund Policy</a></li>
                                            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                            <li><a routerLink="/terms-of-service">Terms</a></li>
                                            <li><a href="/contact-taliferro-group" aria-label="Contact">Contact</a></li>
                                            <li><a href="/#op-experience">About</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom sal-animate wow fadeInUp">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-copyright">
                            <span class="" style="font-size:xx-small">© Copyright. Taliferro ® Is Registered In The U.S. Patent And Trademark Office.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-bottom-link">
                            <ul class="list-unstyled">
                                <li><a routerLink="/privacy-policy" aria-label="Privacy Policy">Privacy Policy</a></li>
                                <li><a routerLink="/terms-of-service" aria-label="Terms of Service">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>