<a href="/services#main-wrapper" aria-label="Back to Top" id="back-to-top" class="back-to-top">
    <i class="fa fa-angle-double-up" title="Back to Top" style="font-weight: bolder;"></i>
</a>
<app-preloader></app-preloader>
<app-modal-box></app-modal-box>
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light [home]="false"></app-header-area-light>
   
    <app-banner-area2 [header]="'Differentiators, Expertise, Recent Projects and Case Studies'" [description]="'Discover how Taliferro Group offers end-to-end solutions through a diverse range of services and capabilities. Explore our recent projects and delve into case studies that demonstrate our expertise in driving tangible ROI for our clients.'"></app-banner-area2>
    <app-service-area2></app-service-area2>
    <app-multi-projects></app-multi-projects>
    <!-- <app-recent-projects></app-recent-projects> -->
    <app-testimonial-area></app-testimonial-area>
    <app-case-studies></app-case-studies>
    <app-approved-by></app-approved-by>
    <app-blog-area></app-blog-area>
    <app-footer-area></app-footer-area>
</div>