<!--=====================================-->
<!--=        Service Area Start         =-->
<!--=====================================-->
<section class="section section-padding" id="op-service">
    <div class="container">
        <div class="section-heading heading-left mb--20 mb_md--70">
            <h2 class="title  wow fadeInUp">Innovative Solutions for Unparalleled Success</h2>
            <span class="subtitle  wow fadeInUp">Empowering Growth and Prosperity through Premium Services</span>
        </div>
        <div class="row">
            <div class="col-lg-4 mt--200 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a routerLink="/services/e-commerce-architecture">
                        <img src="assets/images/e-commerce-architecture.png" alt="e-Commerce"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/e-commerce-architecture">e-Commerce</a></h3>
                        <p>Optimize your e-commerce success with expert consulting.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt--100 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2 active">
                    <div class="thumbnail"><a routerLink="/services/agile-coaching">
                        <img src="assets/images/agile-coaching.png" alt="Agile Coaching"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/agile-coaching">Agile Coaching</a></h3>
                        <p>Accelerate project success with professional Agile coaching.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <a routerLink="/services/sustainability"><img src="assets/images/sustainability.png" alt="Sustainability"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/sustainability">Sustainability</a></h3>
                        <p>Expert guidance on implementing sustainability initiatives.</p>
                    </div>
                </div>
            </div>
            <!-- -->
            <div class="col-lg-4 mt--200 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a routerLink="/services/cloud-architecture">
                        <img src="assets/images/cloud-architecture.png" alt="Architecture"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/cloud-architecture">Architecture</a></h3>
                        <p>Optimize your cloud infrastructure for seamless performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt--100 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a routerLink="/services/data-design">
                        <img src="assets/images/data-design.png" alt="Data Design"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/data-design">Data Design</a></h3>
                        <p>Drive data-driven decision-making with advanced analytics.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a routerLink="/services/website-optimization">
                        <img src="assets/images/website-optimization.png" alt="Optimization"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/website-optimization">Optimization</a></h3>
                        <p>Boost online presence through strategic website enhancements.</p>
                    </div>
                </div>
            </div>
            <!-- -->
            <div class="col-lg-4 mt--200 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a href="https://website-development.taliferro.com" target="_blank">
                        <img src="assets/images/website-development.png" alt="Website Development"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/website-development">Website Development</a></h3>
                        <p>Custom software solutions tailored to your unique needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt--100 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a routerLink="/services/apigee-integration">
                        <img src="assets/images/apigee-integration.png" alt="API Gateway"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/apigee-integration">API Gateway</a></h3>
                        <p>Streamline data flow with professional API gateway solutions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a routerLink="/services/machine-learning">
                        <img src="assets/images/machine-learning.png" alt="Machine Learning"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/machine-learning">Machine Learning</a></h3>
                        <p>Drive innovation through advanced machine learning strategies.</p>
                    </div>
                </div>
            </div>
                        <!-- -->

            <div class="col-lg-4 mt--200 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail"><a routerLink="/services/social-media-marketing">
                        <img src="assets/images/social-media-marketing.png" alt="Social Media Marketing"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/social-media-marketing">Social Media Marketing</a></h3>
                        <p>Drive results with tailored social media strategies.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt--100 mt_md--0  wow fadeInUp">
                <div class="services-grid service-style-2 active">
                    <div class="thumbnail"><a routerLink="/services/healthcare-consulting">
                        <img src="assets/images/healthcare-consulting.png" alt="Heathcare Consulting"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/healthcare-consulting">Healthcare</a></h3>
                        <p>Strategies for a better tomorrow.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  wow fadeInUp">
                <div class="services-grid service-style-2">
                    <div class="thumbnail">
                        <a routerLink="/services/api-design"><img src="assets/images/api-design.png" alt="API Design"></a>
                    </div>
                    <div class="content">
                        <h3 style="font-size:larger ;"><a routerLink="/services/api-design">API Design</a></h3>
                        <p>Integration begins here.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <ul class="shape-group-7 list-unstyled">
        <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="circle"></li>
        <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
        <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
    </ul>
</section>