<!--=====================================-->
<!--=        Footer Area Start       	=-->
<!--=====================================-->
<footer class="footer-area" id="op-footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-social-link">
                <ul class="list-unstyled">
                    <li><a href="https://www.youtube.com/channel/UCbSklLhEDs-4kld584LtdlQ" aria-label="YouTube" title="YouTube"><i class="fa fa-youtube-square wow fadeInUp"></i></a></li>
                    <li><a href="https://www.tiktok.com/@taliferrogroup" aria-label="TikTok" title="TikTok"><i class="fa fa-file-video-o wow fadeInUp"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/taliferro/" aria-label="LinkedIn" title="LinkedIn"><i class="fa fa-linkedin wow fadeInUp"></i></a></li>
                    <li><a href="https://www.instagram.com/taliferrogroup/" aria-label="Instagram" title="Instagram"><i class="fa fa-instagram wow fadeInUp"></i></a></li>
                    <li><a href="https://www.pinterest.com/tyshowers0160/" aria-label="Pinterest" title="Pinterest"><i class="fa fa-pinterest-p wow fadeInUp"></i></a></li>
                    <!-- <li><a href="https://www.ontoplist.com/best-technology-blogs/" target="_blank"><img src="https://www.ontoplist.com/images/ontoplist31.png?id=6462fdd03ddd4" alt="Best Technology Blogs and Websites to Follow - OnToplist.com" border="0" /></a></li> -->

                </ul>
            </div>
        </div>
        <div class="footer-main">
            <div class="row">
                <div class="col-xl-6 col-lg-5 sal-animate wow slideInRight">
                    <div class="footer-widget border-end">
                        <div class="footer-newsletter">
                            <h2 class="title">Get in touch!</h2>
                            <p>We view your success as our success, and we go above and beyond to deliver tangible results that fuel your growth trajectory.

                                Choose Taliferro Group as your strategic ally, and unlock a transformative journey that transcends expectations. Together, we'll rewrite the rules of achievement and forge a new paradigm of excellence in your industry. Experience the Taliferro difference and realize the full potential of your business.</p>
                            <a class="subscribe-btn" href="https://app.lemcal.com/@tyroneshowers">Schedule an Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 sal-animate wow slideInLeft">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <div class="widget-title mb-4">Services</div>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a routerLink="/agile-coaching">Agile Coaching</a></li>
                                        <li><a routerLink="/api-design">API Design</a></li>
                                        <li><a routerLink="/apigee-integration">APIGEE</a></li>
                                        <li><a routerLink="/cloud-architecture">Architecture</a></li>
                                        <li><a routerLink="/data-design">Data Design</a></li>
                                        <li><a routerLink="/website-optimization">Development</a></li>
                                        <li><a routerLink="/e-commerce-architecture">e-Commerce</a> </li>
                                        <li><a routerLink="/healthcare-consulting">Healthcare</a> </li>
                                        <li><a routerLink="/website-optimization">Optimization</a></li>
                                        <li><a routerLink="/social-media-marketing">Social Media Marketing</a></li>
                                        <li><a routerLink="/machine-learning">Machine Learning</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <div class="widget-title mb-4">Industries</div>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a>Biotechnology</a></li>
                                        <li><a>Education </a></li>
                                        <li><a>Fashion</a></li>
                                        <li><a>Healthcare</a></li>
                                        <li><a>Retail</a></li>
                                        <li><a>Tech</a></li>
                                        <li><a>Telecommunications</a></li>
                                        <li><a>Travel</a></li>
                                        <li><a>Sports</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-widget">
                                <div class="widget-title mb-4">Support</div>
                                <div class="footer-menu-link">
                                    <ul class="list-unstyled">
                                        <li><a routerLink="/refund-policy">Refund Policy</a></li>
                                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                        <li><a routerLink="/terms-of-service">Terms</a></li>
                                        <li><a href="/#op-contact" aria-label="Contact">Contact</a></li>
                                        <li><a href="/#op-experience">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom sal-animate wow fadeInUp">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright">
                        <span class="" style="font-size:xx-small">© Copyright. Taliferro ® Is Registered In The U.S. Patent And Trademark Office.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom-link">
                        <ul class="list-unstyled">
                            <li><a href="https://taliferro.com/privacy-policy" aria-label="Privacy Policy">Privacy Policy</a></li>
                            <li><a href="https://taliferro.com/terms-of-service" aria-label="Terms of Service">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>