<!--=====================================-->
<!--=       Projects  Area Start        =-->
<!--=====================================-->
<section class="section section-padding-equal pt--200 pt_md--80 pt_sm--60 bg-color-light" id="recent-projects">
    <div class="container wow fadeInUp">
        <div class="section-heading heading-left">
            <span class="subtitle">Projects</span>
            <h2 class="title">Exemplary Achievements in Our Portfolio</h2>
        </div>
        <div class="axil-isotope-wrapper">
            <!-- <div class="isotope-button isotope-project-btn">
                <button data-filter="*" class="is-checked"><span class="filter-text">All Works</span></button>
                <button data-filter=".branding"><span class="filter-text">Branding</span></button>
                <button data-filter=".mobile"><span class="filter-text">Mobile</span></button>
            </div> -->
            <div class="row isotope-list">
                <div class="col-xl-4 col-md-6 project branding">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://e-commerce.taliferro.com/shop/yrZNdcfkRIiuWE02H8Mq" target="_blank">
                                <img src="assets/media/project/project-5.jpg" alt="Online Store">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://e-commerce.taliferro.com/shop/yrZNdcfkRIiuWE02H8Mq" target="_blank">Pet Store</a></h4>
                            <span class="subtitle">e-Commerce</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 project mobile">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://donjonesassociates.co" target="_blank">
                                <img src="assets/media/project/project-6.jpg" alt="Don Jones Associates">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://donjonesassociates.co" target="_blank">Don Jones and Associates</a></h4>
                            <span class="subtitle">Website Development</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 project branding">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="assets/media/project/project-10.jpg" alt="API Certification">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://dev.16ahead.com/">16 Ahead</a></h4>
                            <span class="subtitle">Bespoke Development</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 project mobile">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://kalaharitradegroup.co" target="_blank">
                                <img src="assets/media/project/project-11.jpg" alt="Kalahari Trade Group">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://kalaharitradegroup.co" target="_blank">Kalahari Trade Group</a></h4>
                            <span class="subtitle">Sustainability</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 project branding">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="https://blackswannconsultancy.co" target="_blank">
                                <img src="assets/media/project/project-12.jpg" alt="Black Swann">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="https://blackswannconsultancy.co" target="_blank">Black Swann</a></h4>
                            <span class="subtitle">Performance Optimization</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 project mobile">
                    <div class="project-grid">
                        <div class="thumbnail">
                            <a href="assets/files/blair-capital-management.pdf" target="_blank">
                                <img src="assets/media/project/project-16.jpg" alt="Blair Capital Managementsought to offer its clients real-time access to Year-To-Date (YTD) investment yield data. Collaborating with Taliferro Group, a website was
                                developed that fulfilled this requirement while emphasizing user experience, data security, and scalability. The project was completed in a timely manner, achieving its
                                objectives and enhancing operational efficiency.">
                            </a>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="assets/files/blair-capital-management.pdf" target="_blank">Blair Capital Management</a></h4>
                            <span class="subtitle">API Gateway</span>
                        </div>
                        
                    </div>
                </div>
                <button (click)="toggle()" class="axil-btn btn-fill-primary w-auto btn-primary">
                    <span *ngIf="showProjects">{{buttonText1}}</span>
                    <span *ngIf="!showProjects">{{buttonText2}}</span>
                </button>
            </div>
        </div>
    </div>
    <ul class="shape-group-7 list-unstyled">
        <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="circle"></li>
        <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
        <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
    </ul>
</section>
<app-recent-projects [ngClass]="{'dontShowProjects':showProjects}">

</app-recent-projects>