<app-bread-crumb-team></app-bread-crumb-team>
<app-single-team-details [teamName]="'Vikki Owens'" [title]="'Partner'" [phone]="'2068098529'" [email]="'vikki.owens@taliferro.com'" [image]="'assets/media/blog/author-2.webp'" [description]="description"
    [certification1]="certification1" [certification2]="certification2"></app-single-team-details>
<hr>
<section class="color-block mb-5">
    <div class="container">
        <h3 class="wow fadeInUp text-center">Certifications</h3>
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{{certification1}}" alt="Scrum Certification" class="img-fluid">
            </div>
            <div class="col-md-6 text-center">
                <img src="{{certification2}}" alt="Scrum Certification" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<app-counter-area></app-counter-area>

<app-footer-area></app-footer-area>