<!--=====================================-->
<!--=        Testimonial Area Start     =-->
<!--=====================================-->
<section class="section section-padding bg-color-white" id="op-testimonial">
    <div class="container">
        <div class="section-heading heading-left">
            <span class="subtitle wow fadeInUp">See What Our Clients Say</span>
            <h2 class="title wow fadeInUp">Testimonials</h2>
            <p class=" wow fadeInUp">Discover the Success Stories and Experiences Shared by Our Satisfied Clients</p>
        </div>
        <div class="row">
            <div class="col-lg-4 sal-animate wow fadeInUp">
                <div class="testimonial-grid active">
                    <span class="social-media"><img src="{{testimonials[testimonialNumber].logo1}}" alt="EY" style="height: 50px;"></span>

                    <p><i> "{{testimonials[testimonialNumber].text1}}”</i></p>
                    <div class="author-info">
                        <div class="content">
                            <span class="name">{{testimonials[testimonialNumber].name1}}</span>
                            <span class="designation">{{testimonials[testimonialNumber].title1}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sal-animate wow fadeInUp">
                <div class="testimonial-grid">
                    <span class="social-media"><img src="{{testimonials[testimonialNumber].logo2}}" alt="AT&T" style="height: 50px;"></span>

                    <p><i> "{{testimonials[testimonialNumber].text2}}"</i></p>
                    <div class="author-info">
                        <div class="content">
                            <span class="name">{{testimonials[testimonialNumber].name2}}</span>
                            <span class="designation">{{testimonials[testimonialNumber].title2}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sal-animate wow fadeInUp">
                <div class="testimonial-grid">
                    <span class="social-media"><img src="{{testimonials[testimonialNumber].logo3}}" alt="Takeda" style="height: 50px;"></span>

                    <p><i> "{{testimonials[testimonialNumber].text3}}"</i></p>
                    <div class="author-info">
                        <div class="content">
                            <span class="name">{{testimonials[testimonialNumber].name3}}</span>
                            <span class="designation">{{testimonials[testimonialNumber].title3}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group-4 list-unstyled">
        <li class="shape-1"><img src="assets/media/others/bubble-1.png" alt="Taliferro - Testimonial"></li>
    </ul>
</section>