<section class="section section-padding-equal bg-color-light faq-area" id="who-we-are">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-4">
                <div class="section-heading heading-left">
                    <!-- <span class="subtitle">Pricing Plan</span> -->
                    <h3 class="title text-capitalize wow fadeInUp">Get to Know Us</h3>
                    <p class="wow fadeInUp">The aim is to give you a clear, concise understanding of how partnering with us can benefit your business.</p>
                </div>
            </div>
            <div class="col-lg-7 col-xl-8">
                <div class="faq-accordion">
                    <div class="accordion sal-animate" id="accordion">
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button  wow fadeInUp" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                                    1. What does Taliferro Group do?
                                </button>
                            </h6>
                            <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>We help organizations make better use of technology to find new ways to make money, put systems together more smoothly, and get useful info from their data. We use top-notch IT strategies and data tools to do this.</p>
                                    <p>Click a link to explore what <a href="/services#op-service">makes us different</a>, our <a href="/services#expertise">expertise and capabilities</a>, <a href="/services#casestudies">case studies</a> and <a href="/services#recent-projects">recent projects</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                    2. What is the Taliferro IT Connect Subscription Service?
                                </button>
                            </h6>
                            <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>Taliferro IT Connect is a subscription-based consultancy service that offers ongoing, tailored IT solutions. Subscribers have exclusive access to specialized consultancy hours, cybersecurity health checks, performance analytics, and quick tech fixes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                    3.  What's included in the Monthly Performance Analytics?
                                </button>
                            </h6>
                            <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>Depending on your subscription level, you'll receive a detailed monthly report analyzing key performance indicators (KPIs), identifying operational efficiencies and areas for potential revenue growth.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                                    4. How do we deliver results?
                                </button>
                            </h6>
                            <div id="faq4" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>We aim to leave you better than we found you. We focus on both helping you make more money in the short term and setting you up for long-term success with solid plans and strategies.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                                    5. What do you mean by "Consulting Hours"?
                                </button>
                            </h6>
                            <div id="faq5" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>Consulting hours refer to the dedicated time you'll have each month with our experts in areas like Agile Project Management, Cloud Architecture, or Cybersecurity. The number of hours varies by subscription tier.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
                                    6. Can you help me use my data to discover hidden revenue or improve operations?
                                </button>
                            </h6>
                            <div id="faq6" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>We excel in analytics and data design with a specific focus on revealing hidden revenue opportunities and operational efficiencies. Through meticulous data analysis, we identify patterns, trends, and gaps that can translate into new revenue streams or cost-saving measures. Once these opportunities are unearthed, you have the option to either implement the solutions yourself or engage us for a turnkey solution. By leveraging our expertise, you can ensure that your data is not just an informational asset but a strategic one that significantly impacts your bottom line.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false" aria-controls="faq7">
                                    7. How do we engage teams?
                                </button>
                            </h6>
                            <div id="faq7" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>We engage teams by starting with a smooth onboarding process and using Agile tools best suited for the project. Our focus is on clear communication, stakeholder education, and fostering a collaborative environment to deliver business value efficiently. <a href="/assets/files/taliferro-group-team-engagement.pdf">Read more here.</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp">
                            <h6 class="accordion-header wow fadeInUp">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq8" aria-expanded="false" aria-controls="faq8">
                                    8. How can we get started?
                                </button>
                            </h6>
                            <div id="faq8" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body wow fadeInUp">
                                    <p>Starting with us is easy. Begin with our complimentary IT assessment to identify areas of improvement or concern. After the initial evaluation, you can choose a subscription plan that aligns with your needs and budget.</p>
                                    <p>Or just give us a <a href="tel:2068098529">call</a> or send us an <a href="mailto:info@taliferro.com?subject=Ready to get Started!&body=Dear Taliferro Group,">email</a> to set up an initial <a href="https://app.lemcal.com/@tyroneshowers">30 minute meeting</a>. This helps us understand what you need and how we can help you meet your goals.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group-6 list-unstyled">
        <li class="shape shape-1 wow fadeInUp" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100"><img src="assets/media/others/bubble-7.png" alt="Bubble"></li>
        <li class="shape shape-2 wow fadeInUp" data-sal="slide-down" data-sal-duration="800" data-sal-delay="100"><img src="assets/media/others/line-4.png" alt="line"></li>
        <li class="shape shape-4 wow fadeInUp" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100"><img src="assets/media/others/{{lady}}" alt="Poses"></li>
    </ul>
</section>