<div class="widget widget-recent-post">
    <h4 class="widget-title">Recent Post</h4>
    <div class="post-list-wrap">
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2023/the-sucker-era"><img style="max-width:124px" src="assets/images/blog/the-sucker-era.webp" alt="The Sucker Era"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/nov-2023/the-sucker-era">The Sucker Era</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>November 5, 2023</li>
                    <li>3 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2023/the-lessons-of-karma"><img style="max-width:124px" src="assets/images/blog/the-lessons-of-karma.webp" alt="The Lessons of Karma"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/nov-2023/the-lessons-of-karma">The Lessons of Karma</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>November 4, 2023</li>
                    <li>3 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2023/ai-driven-dynamic-pricing"><img style="max-width:124px" src="assets/images/blog/ai-driven-dynamic-pricing.webp" alt="AI-Driven Dynamic Pricing"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/nov-2023/ai-driven-dynamic-pricing">AI-Driven Dynamic Pricing</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>November 3, 2023</li>
                    <li>3 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2023/transcending-traditional-spreadsheets-a-how-to-guide-for-leveraging-nlp-and-machine-learning"><img style="max-width:124px" src="assets/images/blog/transcending-traditional-spreadsheets-a-how-to-guide-for-leveraging-nlp-and-machine-learning.webp" alt="Transcending Traditional Spreadsheets: A How-To Guide for Leveraging NLP and Machine Learning"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/nov-2023/transcending-traditional-spreadsheets-a-how-to-guide-for-leveraging-nlp-and-machine-learning">Transcending Traditional Spreadsheets: A How-To Guide for Leveraging NLP and Machine Learning</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>November 2, 2023</li>
                    <li>6 min to read</li>
                </ul>
            </div>
        </div>

        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/nov-2023/ai-powered-retail-analytics-unveiling-trends-for-revenue-amplification"><img style="max-width:124px" src="assets/images/blog/ai-powered-retail-analytics-unveiling-trends-for-revenue-amplification.webp" alt="AI-Powered Retail Analytics: Unveiling Trends for Revenue Amplification"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/nov-2023/ai-powered-retail-analytics-unveiling-trends-for-revenue-amplification">AI-Powered Retail Analytics: Unveiling Trends for Revenue Amplification</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>November 1, 2023</li>
                    <li>3 min to read</li>
                </ul>
            </div>
        </div>

        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2023/the-real-secret-to-seo"><img style="max-width:124px" src="assets/images/blog/the-real-secret-to-seo.webp" alt="The Real Secret to SEO"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/oct-2023/the-real-secret-to-seo">The Real Secret to SEO</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>October 31, 2023</li>
                    <li>4 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2023/digital-transformation-best-practices"><img style="max-width:124px" src="assets/images/blog/digital-transformation-best-practices.webp" alt="Digital Transformation Best Practices"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/oct-2023/digital-transformation-best-practices">Digital Transformation Best Practices</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>October 30, 2023</li>
                    <li>4 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2023/why-your-website-should-be-more-than-a-fancy-business-card"><img style="max-width:124px" src="assets/images/blog/why-your-website-should-be-more-than-a-fancy-business-card.webp" alt="Why Your Website Should Be More Than a Fancy Business Card"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/oct-2023/why-your-website-should-be-more-than-a-fancy-business-card">Why Your Website Should Be More Than a Fancy Business Card</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>October 29, 2023</li>
                    <li>4 min to read</li>
                </ul>
            </div>
        </div>
        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2023/the-real-secret-to-e-commerce-efficiency"><img style="max-width:124px" src="assets/images/blog/the-real-secret-to-e-commerce-efficiency.webp" alt="The Real Secret to E-Commerce Efficiency"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/oct-2023/the-real-secret-to-e-commerce-efficiency">The Real Secret to E-Commerce Efficiency</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>October 28, 2023</li>
                    <li>4 min to read</li>
                </ul>
            </div>
        </div>

        <div class="single-post wow fadeInRight">
            <div class="post-thumbnail">
                <a routerLink="/blog/oct-2023/rethinking-digital-security"><img style="max-width:124px" src="assets/images/blog/rethinking-digital-security.webp" alt="Rethinking Digital Security"></a>
            </div>
            <div class="post-content">
                <h6 class="title text-capitalize"><a routerLink="/blog/oct-2023/rethinking-digital-security">Rethinking Digital Security</a></h6>
                <ul class="blog-meta list-unstyled">
                    <li>October 27, 2023</li>
                    <li>4 min to read</li>
                </ul>
            </div>
        </div>
  

    </div>
</div>