<div id="taliferroGroupCaptions" class="carousel slide"  data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#taliferroGroupCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#taliferroGroupCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#taliferroGroupCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#taliferroGroupCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <!-- <button type="button" data-bs-target="#taliferroGroupCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button> -->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/banner1.webp" class="d-block w-100" alt="Make Your Organization Better and Smarter">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h1 style="color: whitesmoke; font-weight: bold;">Make Your Organization Better and Smarter</h1>
          <p  style="color: white;">From Safe Websites to Better Online Stores, We've Got You Covered</p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner2.webp" class="d-block w-100" alt="Smart Solutions For Business">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h1 style="color: whitesmoke; font-weight: bold;">Smart Solutions For Business</h1>
          <p style="color: white;">Making Your IT Profitable and Secure</p> -->
        </div>
      </div>
      <div class="carousel-item"  data-bs-interval="5000">
        <img src="assets/images/banner3.webp" class="d-block w-100" alt="Do You Want Fast, Safe, and Easy to Use Information Technology?">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h1 style="color: whitesmoke; font-weight: bold;">Do You Want Fast, Safe, and Easy to Use Information Technology?</h1> -->
          <!-- <p style="color: white;"></p> -->
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner4.webp" class="d-block w-100" alt="206.809.8529">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h1 style="color: whitesmoke; font-weight: bold;">Call Now 206.809.8529<br>
            <a href="mailto:info@taliferro.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@taliferro.com</a></h1> -->
          <!-- <p style="color: white;"></p> -->
        </div>
      </div>
      <!-- <div class="carousel-item">
        <video style="overflow: hidden;" controls src="assets/video/pwa.mp4"  class="d-block w-100 mh-75"></video>
        <div class="carousel-caption d-none d-md-block">
          <h1 style="color: whitesmoke; font-weight: bold;">Video</h1>
        </div>
      </div> -->

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#taliferroGroupCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#taliferroGroupCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>