<a href="/blog/dec-2022/tips-for-secure-passwordless-signin-with-email-address-only#main-wrapper" id="backto-top" aria-label="Back to Top" class="back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="main-wrapper" class="main-wrapper">
    <app-header-area-light></app-header-area-light>
    <app-bread-crumb-light [title]="'December 2022'"></app-bread-crumb-light>
    <section class="section-padding-equal">
        <div class="container">
            <div class="row row-40">
                <div class="col-lg-8">
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/tips-for-secure-passwordless-signin-with-email-address-only">Tips for Secure Passwordless SignIn with Email
                                Address only</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 31, 2022</li>
                                    <li>4 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/tips-for-secure-passwordless-signin-with-email-address-only"><img
                                    src="assets/images/blog/tips-for-secure-passwordless-signin-with-email-address-only.webp" alt="Tips for Secure Passwordless SignIn with Email Address only"></a>
                        </div>
                        <p> Email address is the most frequently used account to sign in from various platforms. You can also log in with only your email address, which is safer than using your
                            username and password. However, emails need to be more secure for signing into a website or app. </p>
                        <a routerLink="/blog/dec-2022/tips-for-secure-passwordless-signin-with-email-address-only" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/keeping-customers-happy-by-being-responsive">Keeping Customers Happy by being Responsive</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 30, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/keeping-customers-happy-by-being-responsive"><img src="assets/images/blog/keeping-customers-happy-by-being-responsive.webp"
                                    alt="Keeping Customers Happy by being Responsive"></a>
                        </div>
                        <p> Customers want to talk to people rather than to robots. Customers want to be listened to and understood. Customers want to feel that you are on their side. Respond to
                            customer requests quickly; they'll remember it when they look back on their experience with your company over the long term. Do unto others as you would have them do unto
                            you when it comes to resolving an issue or answering questions about your products or services—and be willing to go the extra mile for customers who've been treated well in
                            the past. </p>
                        <a routerLink="/blog/dec-2022/keeping-customers-happy-by-being-responsive" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/an-e-commerce-platform-for-selling">An e-commerce platform for selling</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 29, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/an-e-commerce-platform-for-selling"><img src="assets/images/blog/an-e-commerce-platform-for-selling.webp"
                                    alt="An e-commerce platform for selling"></a>
                        </div>
                        <p> This project was an opportunity to build a platform to help customers sell their products online. It is also an exciting project as we develop and design a fantastic
                            website for pet lovers who want to buy pet products online. We created this <a routerLink="/e-commerce-architecture">e-commerce</a> platform where customers can find gifts for their pets, which will generate high
                            revenue for our customers through sales made online. </p>
                        <a routerLink="/blog/dec-2022/an-e-commerce-platform-for-selling" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/dont-overspend-on-unnecessary-cloud-services">Don't overspend on unnecessary cloud services</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 28, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/dont-overspend-on-unnecessary-cloud-services"><img src="assets/images/blog/dont-overspend-on-unnecessary-cloud-services.webp"
                                    alt="Don't overspend on unnecessary cloud services"></a>
                        </div>
                        <p> Cloud services can be a great business tool but also have a high price tag. If you aren't careful, cloud services can add up and cost your company more than necessary. But
                            it's not all bad news -- there are ways to cut back on unnecessary costs and keep more of your money where it belongs: in your pocket! </p>
                        <a routerLink="/blog/dec-2022/dont-overspend-on-unnecessary-cloud-services" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/five-reasons-you-should-not-be-a-gcp-partner">Five reasons you should not be a GCP Partner</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 27, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/five-reasons-you-should-not-be-a-gcp-partner"><img src="assets/images/blog/five-reasons-you-should-not-be-a-gcp-partner.webp"
                                    alt="Five reasons you should not be a GCP Partner"></a>
                        </div>
                        <p> The Google Cloud Platform Partner Program is a program that allows you to become a certified partner and sell, integrate, or deploy Google Cloud services. But before you go
                            jumping into the program, there are some things you should know. Here are five situations where becoming a GCP partner isn't suitable for your business: </p>
                        <a routerLink="/blog/dec-2022/five-reasons-you-should-not-be-a-gcp-partner" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/how-to-create-microservices-for-simplicity">How To Create Microservices for Simplicity</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 26, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/how-to-create-microservices-for-simplicity"><img src="assets/images/blog/how-to-create-microservices-for-simplicity.webp"
                                    alt="How To Create Microservices for Simplicity"></a>
                        </div>
                        <p> If you've been working with software for the past few years, you've heard about microservices architecture. It's a popular approach to building applications that can help
                            engineers and product teams decompose monolithic codebases into smaller, more manageable chunks. In this guide, we'll explain what microservices architecture is, why it
                            matters, and some key benefits and challenges of using it. By the end of this article, you'll know whether your team should consider moving toward microservices. </p>
                        <a routerLink="/blog/dec-2022/how-to-create-microservices-for-simplicity" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/top-four-benefits-of-separating-your-database">Top 4 Benefits of Separating Your Database</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 25, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/top-four-benefits-of-separating-your-database"><img src="assets/images/blog/top-four-benefits-of-separating-your-database.webp"
                                    alt="Top 4 Benefits of Separating Your Database"></a>
                        </div>
                        <p> The days of the monolithic database are long gone. In their place, modern applications rely on a distributed architecture that divides data across multiple databases. But
                            why? What benefits can you expect from separating your database? Let's look at four key reasons companies are moving to SQL Data Separation. </p>
                        <a routerLink="/blog/dec-2022/top-four-benefits-of-separating-your-database" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/how-fermi-estimation-can-solve-your-software-development-problems">How Fermi Estimation Can Solve Your Software
                                Development Problems</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 24, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/how-fermi-estimation-can-solve-your-software-development-problems"><img
                                    src="assets/images/blog/how-fermi-estimation-can-solve-your-software-development-problems.webp"
                                    alt="How Fermi Estimation Can Solve Your Software Development Problems"></a>
                        </div>
                        <p> Fermi estimation is a simple yet potent tool you can use for your business and the development of your software projects. The purpose of Fermi estimation is to estimate
                            things without breaking a sweat. How does it work? We take advantage of intuition and experience to get closer and closer to our desired result. For example, in just 5
                            minutes, you can make a list of all the countries in the world and have an idea of how many there are in total. Fermi estimates are based on the order of magnitude or scale
                            instead of accuracy. </p>
                        <a routerLink="/blog/dec-2022/how-fermi-estimation-can-solve-your-software-development-problems" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/six-things-you-might-not-know-about-software-architecture">6 Things You Might Not Know About Software
                                Architecture</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 23, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/six-things-you-might-not-know-about-software-architecture"><img
                                    src="assets/images/blog/six-things-you-might-not-know-about-software-architecture.webp" alt="6 Things You Might Not Know About Software Architecture"></a>
                        </div>
                        <p> When you're building a software system, it will be very complex. You need some structure to hold things together. The term "software architecture" refers to this
                            structure—the way the pieces fit together and interact. Software architecture is not the same thing as programming languages or tools; instead, it dictates how those
                            elements should be used together to create a successful product that meets business requirements and user needs while ensuring that development time and costs are kept
                            under control. </p>
                        <a routerLink="/blog/dec-2022/six-things-you-might-not-know-about-software-architecture" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/machine-learning-experiments">Machine Learning Experiments</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 22, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/machine-learning-experiments"><img src="assets/images/blog/machine-learning-experiments.webp" alt="Machine Learning Experiments"></a>
                        </div>
                        <p> Experiments are the primary unit of work in Azure Machine Learning Studio. They allow you to track different versions of your machine-learning models and determine which is
                            best for your business needs. Experiments are isolated and designed to test specific parameters or models. Experiments save time and energy, reduce risk and give
                            data-driven insights for better decision-making. </p>
                        <a routerLink="/blog/dec-2022/machine-learning-experiments" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/great-ideas">Great Ideas</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 21, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/great-ideas"><img src="assets/images/blog/great-ideas.webp" alt="Great Ideas"></a>
                        </div>
                        <p> In the last few years, I've spent a lot of time talking with people who want to bring their ideas to life. Almost everyone is convinced that they have a great idea and are
                            right. But I have also repeatedly seen that great ideas are only helpful if you're lucky or know someone. </p>
                        <a routerLink="/blog/dec-2022/great-ideas" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/totara-for-students-on-their-first-day-at-school">Totara for students on their first day at school</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 20, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/totara-for-students-on-their-first-day-at-school"><img src="assets/images/blog/totara-for-students-on-their-first-day-at-school.webp"
                                    alt="Totara for students on their first day at school"></a>
                        </div>
                        <p> As an adult student, you're likely to have many questions about how to use the school's LMS. If it's your first day in a class and you've never used the LMS before, this
                            guide will help you navigate the system and get started with your coursework. </p>
                        <a routerLink="/blog/dec-2022/totara-for-students-on-their-first-day-at-school" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <!-- -->
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/creating-the-perfect-client-experience">Creating the Perfect Client Experience</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 19, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/creating-the-perfect-client-experience"><img src="assets/images/blog/creating-the-perfect-client-experience.webp"
                                    alt="Creating the Perfect Client Experience"></a>
                        </div>
                        <p> The perfect client experience is essential to create and maintain, but how do you know what it looks like? And how can you ensure that every client who walks through your
                            doors has a positive experience? The answer is communication. You need to communicate with clients on a personal level and develop relationships with them, so they know
                            they're valued as individuals. </p>
                        <a routerLink="/blog/dec-2022/creating-the-perfect-client-experience" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/a-how-to-guide-on-ordering-a-machine-learning-project-for-your-company">A how-to guide on ordering a machine
                                learning project for your company</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 16, 2022</li>
                                    <li>5 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/a-how-to-guide-on-ordering-a-machine-learning-project-for-your-company"><img
                                    src="assets/images/blog/a-how-to-guide-on-ordering-a-machine-learning-project-for-your-company.webp"
                                    alt="A how-to guide on ordering a machine learning project for your company"></a>
                        </div>
                        <p> Machine learning is the best way to predict what will happen next in your business, but it can be challenging to understand. Creating a machine learning project that works
                            well for your company takes time and expertise. And that's where we come in! </p>
                        <a routerLink="/blog/dec-2022/a-how-to-guide-on-ordering-a-machine-learning-project-for-your-company" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/the-importance-of-being-digital-efficiency">The importance of being digital efficiency</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 15, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/the-importance-of-being-digital-efficiency"><img src="assets/images/blog/the-importance-of-being-digital-efficiency.webp"
                                    alt="The importance of being digital efficiency"></a>
                        </div>
                        <p> If you're running a business, you know there is always a need for more time and money to do everything. And this is especially true when it comes to managing your digital
                            operations. Being digitally efficient cannot be overstated – it's more important than ever. Digital efficiency can be used against market volatility, customer demand, and
                            increased competition, delivering more agile, flexible, and responsive business processes. Digitally-enabled companies tend to grow faster and generate higher profits than
                            competitors that haven't made the same commitment. This is why digitization is essential for businesses of all sizes today: if you don't have suitable systems, how can you
                            expect your organization to grow? </p>
                        <a routerLink="/blog/dec-2022/the-importance-of-being-digital-efficiency" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/softwares-impact-on-the-business-industry-replacing-paper">Software's impact on the business industry replacing
                                paper</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 14, 2022</li>
                                    <li>5 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/softwares-impact-on-the-business-industry-replacing-paper"><img
                                    src="assets/images/blog/softwares-impact-on-the-business-industry-replacing-paper.webp" alt="Software's impact on the business industry replacing paper"></a>
                        </div>
                        <p> Credit cards are a great way to pay for things. They're easy to use, convenient for customers, and secure. But did you know that merchants also benefit from accepting
                            credit cards? Credit card processing can save businesses time and money while increasing customer retention. Let's explore some of the ways that accepting credit cards can
                            improve your business! </p>
                        <a routerLink="/blog/dec-2022/softwares-impact-on-the-business-industry-replacing-paper" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/api-governance-a-practical-approach">API Governance - a practical approach</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 13, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/api-governance-a-practical-approach"><img src="assets/images/blog/api-governance-a-practical-approach.webp"
                                    alt="API Governance - a practical approach"></a>
                        </div>
                        <p> API governance governs your API, from creating a program and policies to monitoring performance metrics. A successful API governance program can help you manage your APIs
                            effectively and maintain a healthy ecosystem for your developers. </p>
                        <a routerLink="/blog/dec-2022/api-governance-a-practical-approach" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/making-business-improvements-in-bite-size-increments">Making Business Improvements in bite-size increments</a>
                        </h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 12, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/making-business-improvements-in-bite-size-increments"><img src="assets/images/blog/making-business-improvements-in-bite-size-increments.webp"
                                    alt="Making Business Improvements in bite-size increments"></a>
                        </div>
                        <p> Making business improvements is more complex than it sounds. There's no one-size-fits-all recipe for success, and you'll need to be flexible when adapting your plan to fit
                            your unique situation. Still, some steps you can take will help you progress on any business improvement project you're working on right now. In this post, I will share
                            rules of thumb that can help get the ball rolling, from "fixing up" your website design to improving customer service — whatever it might be. </p>
                        <a routerLink="/blog/dec-2022/making-business-improvements-in-bite-size-increments" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <!-- -->
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/is-there-such-a-thing-as-company-culture">Is there such a thing as company culture?</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 10, 2022</li>
                                    <li>5 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/is-there-such-a-thing-as-company-culture"><img src="assets/images/blog/is-there-such-a-thing-as-company-culture.webp"
                                    alt="Is there such a thing as company culture?"></a>
                        </div>
                        <p> It's easier to achieve your goals when working with a team of people who share the same values and goals. But how do you build that team? One way is by creating a solid
                            company culture. </p>
                        <a routerLink="/blog/dec-2022/is-there-such-a-thing-as-company-culture" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/chances-are-youre-not-using-your-cloud-services-correctly-and-overpaying">Chances are you're not using your
                                cloud services correctly and overpaying</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 9, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/chances-are-youre-not-using-your-cloud-services-correctly-and-overpaying"><img
                                    src="assets/images/blog/chances-are-youre-not-using-your-cloud-services-correctly-and-overpaying.webp"
                                    alt="Chances are you're not using your cloud services correctly and overpaying"></a>
                        </div>
                        <p> As a cloud user, you have likely realized that cloud services have changed how we do things. With elasticity, pay-as-you-go pricing, and rapid innovation, it can take a lot
                            of work to keep up with all the cloud changes. I'm sharing some tips on getting started to ensure you're using your services correctly and saving money. </p>
                        <a routerLink="/blog/dec-2022/chances-are-youre-not-using-your-cloud-services-correctly-and-overpaying" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/how-to-start-a-software-project-that-inspires-excitement">How to start a software project that inspires
                                excitement</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 8, 2022</li>
                                    <li>5 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/how-to-start-a-software-project-that-inspires-excitement"><img
                                    src="assets/images/blog/how-to-start-a-software-project-that-inspires-excitement.webp" alt="How to start a software project that inspires excitement"></a>
                        </div>
                        <p> An excellent software project starts with a simple idea. It's the idea that comes from people who love using technology and want to make their lives easier and better. An
                            example of this type of inspiration is the first time someone uses Google Maps and realizes it can tell them where to go—no more guessing when driving directions are
                            involved. That's a huge deal. But if you're like me, you might have noticed that some companies consistently produce products that inspire excitement in users while others
                            struggle or just don't get it right. What makes these two scenarios different? In my experience working on software projects over the past decade or so, I've learned there
                            are certain things we can do as individuals or teams that make one type more likely than another: </p>
                        <a routerLink="/blog/dec-2022/how-to-start-a-software-project-that-inspires-excitement" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/lets-talk-about-layered-architecture-in-the-cloud">Let's talk about layered architecture in the cloud</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 7, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/lets-talk-about-layered-architecture-in-the-cloud"><img src="assets/images/blog/lets-talk-about-layered-architecture-in-the-cloud.webp"
                                    alt="Let's talk about layered architecture in the cloud"></a>
                        </div>
                        <p> When talking about cloud-based applications, we usually talk about microservice architecture. Microservices are easier to deploy and manage than monolithic applications.
                            However, they still follow the same principles that monolithic apps have used for a long time: abstraction, encapsulation, and separation of concerns. Let's break down what
                            each of these means in the context of layered application architecture in the cloud. </p>
                        <a routerLink="/blog/dec-2022/lets-talk-about-layered-architecture-in-the-cloud" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/using-facebook-to-build-your-audience">Using Facebook to build your audience</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 6, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/using-facebook-to-build-your-audience"><img src="assets/images/blog/using-facebook-to-build-your-audience.webp"
                                    alt="Using Facebook to build your audience"></a>
                        </div>
                        <p> It's true: social media has changed the world. And while it's easy to think of Facebook as just a place to post photos of whatever you had for lunch, there's an entire
                            world of opportunities beneath the surface. Social media can be a great way to build your audience and connect with them on a personal level, but only if you use it
                            correctly. Here are some tips for using Facebook effectively and building your audience: </p>
                        <a routerLink="/blog/dec-2022/using-facebook-to-build-your-audience" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <!-- -->
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/multiple-system-of-record-databases">Multiple System of Record Databases</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 5, 2022</li>
                                    <li>6 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/multiple-system-of-record-databases"><img src="assets/images/blog/multiple-system-of-record-databases.webp"
                                    alt="Multiple System of Record Databases"></a>
                        </div>
                        <p> As a data architect, I've seen many companies with multiple SOR. Although it is beneficial for scaling the apps, it has serious side effects. In this post, I will
                            discuss why having multiple SORs is terrible and some things you can do to mitigate them (if not eliminate them). </p>
                        <a routerLink="/blog/dec-2022/multiple-system-of-record-databases" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/turning-it-expense-projects-into-revenue-generating-products">Turning IT expense projects into
                                revenue-generating products</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 4, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/turning-it-expense-projects-into-revenue-generating-products"><img
                                    src="assets/images/blog/turning-it-expense-projects-into-revenue-generating-products.webp" alt="Turning IT expense projects into revenue-generating products"></a>
                        </div>
                        <p> Regarding technology, you want to ensure you get the most out of your investments. IT expense projects are a great way to do this because they often don't require large
                            investments upfront. Instead, these projects are designed to improve efficiencies in the company and make things easier for employees. However, there is a lot more
                            opportunity here than just improving efficiency and making life easier for employees; turning expense projects into revenue-generating products is one way companies can see
                            actual returns on their technology investments. </p>
                        <a routerLink="/blog/dec-2022/turning-it-expense-projects-into-revenue-generating-products" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/creating-a-software-rollout-plan">Creating a software Rollout plan</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 3, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/creating-a-software-rollout-plan"><img src="assets/images/blog/creating-a-software-rollout-plan.webp"
                                    alt="Creating a software Rollout plan"></a>
                        </div>
                        <p> Creating a rollout plan can help you avoid common problems with software implementation and ensure that everything goes as smoothly as possible. A rollout or completion
                            plan is a set of instructions explaining how a piece of software will be implemented in your organization. It includes important details like who will be responsible for
                            different aspects of the rollout and what steps each person needs to take. </p>
                        <a routerLink="/blog/dec-2022/creating-a-software-rollout-plan" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/the-benefits-of-having-an-api-gateway">The benefits of having an API Gateway</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 2, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/the-benefits-of-having-an-api-gateway"><img src="assets/images/blog/the-benefits-of-having-an-api-gateway.webp"
                                    alt="The benefits of having an API Gateway"></a>
                        </div>
                        <p> A lot of people think APIs (Application Programming Interfaces) are just an extra layer of complexity on top of the already complicated technology stack. The truth is that
                            APIs are the glue that holds your entire system together and makes it possible to interact with the various components. They can be used to create a consistent experience
                            for your users across all channels, improve efficiency by allowing multiple clients to access data at once, and make scaling easier by isolating each microservice from the
                            other. API Gateways provide all these features plus more! In this post, I'll explain what an API Gateway does and why it's essential for every company doing digital
                            transformation projects. </p>
                        <a routerLink="/blog/dec-2022/the-benefits-of-having-an-api-gateway" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <div class="blog-grid">
                        <h3 class="title text-capitalize"><a routerLink="/blog/dec-2022/how-your-websites-poor-performance-is-costing-you-money">How your website's poor performance is costing you
                                money</a></h3>
                        <div class="author">
                            <div class="author-thumb">
                                <img src="assets/media/blog/author-1.webp" alt="Tyrone Showers">
                            </div>
                            <div class="info">
                                <h6 class="author-name">Tyrone Showers</h6>
                                <ul class="blog-meta list-unstyled">
                                    <li>Dec 1, 2022</li>
                                    <li>7 min to read</li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-thumbnail">
                            <a routerLink="/blog/dec-2022/how-your-websites-poor-performance-is-costing-you-money"><img
                                    src="assets/images/blog/how-your-websites-poor-performance-is-costing-you-money.webp" alt="How your website's poor performance is costing you money"></a>
                        </div>
                        <p> What if your website was slow? Would you notice? Would it affect how you view the brand as a whole? The answer to that question is yes. But what if I told you that this
                            problem could cost your business money? It's true—the speed of your website significantly impacts how customers interact with your brand and whether or not they choose to
                            purchase from you. </p>
                        <a routerLink="/blog/dec-2022/how-your-websites-poor-performance-is-costing-you-money" class="axil-btn btn-borderd btn-large">Read More</a>
                    </div>
                    <!---->
                </div>
                <div class="col-lg-4">
                    <app-posts-history></app-posts-history>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->
    <app-footer-area></app-footer-area>
    <!--=====================================-->
    <!--=       Offcanvas Menu Area       	=-->
    <!--=====================================-->
    <app-off-canvas-menu></app-off-canvas-menu>
</div>